body {
  background: #f9f9ff;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.banner {
  width: 100%;
  height: 350px;
  object-fit: cover;
  display: block;
}

.logo {
  position: absolute;
  top: 20px;
  /* khoảng cách từ trên xuống */
  left: 40px;
  /* khoảng cách từ trái sang */
  width: 150px;
  /* kích thước logo */
  height: auto;
  object-fit: contain;
}

.login-box {
  background: #fff;
  width: 400px;
  margin: 40px auto 20px;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.login-box h1 {
  color: #000000;
  text-decoration: none;
  text-align: left;
  font-size: 35px;
  font-weight: bold;
}

.register {
  color: #000000;
  text-decoration: none;
  text-align: left;
  display: block;
  margin-bottom: 20px;
}

.forgetpw {
  text-align: right;
}

.login-box a {
  color: #ff0000;
  text-decoration: none;
  text-align: right;
}

.login-box form {
  display: flex;
  flex-direction: column;
}

.login-box label {
  font-size: 25px;
  font-weight: bold;
  display: flex;
  flex-direction: column;
}

input[type="email"],
input[type="password"] {
  padding: 12px;
  margin: 10px 0;
  border: 1px solid #ddd;
  border-radius: 8px;
}

.btn-login {
  background: #2424c7;
  color: white;
  padding: 12px;
  border: none;
  border-radius: 6px;
}

.btn-login:hover {
  background: #1a1a6a;
}

.divider {
  display: flex;
  align-items: center;
  margin: 15px 0;
}

.btn-office {
  background: #ffdbdb;
  color: rgb(255, 0, 0);
  padding: 12px;
  border: 2px solid red;
  border-radius: 6px;
  cursor: pointer;
  text-align: center;
}

.btn-office:hover {
  background: #cf3131;
  color: rgb(255, 255, 255);
}
